.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headline {
  position: relative;
  z-index: 2;
  margin-bottom: auto;
  padding: 40rem;
  text-align: center;
}

.title {
  font-family: 'Righteous', cursive;
  color: #fafafc;
  font-size: 94rem;
  line-height: 100rem;
  text-transform: uppercase;
  letter-spacing: 4rem;
}

.text {
  padding-left: 2px;
  color: #aaa;
  font-weight: 100;
  font-size: 26rem;
  text-transform: uppercase;
}

.content {
  margin-top: -90rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  padding-bottom: 20rem;
}

.builtOn {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 32rem;
    height: 32rem;
    margin-right: 6rem;
  }

  a {
    color: #fff;
    font-weight: 600;
    font-size: 16rem;

    &:hover {
      text-decoration: underline;
    }
  }
}



/* n is number of stars required */
@function multiple-box-shadow($n) {
  $value: ();

  @for $i from 2 through $n {
    $shadow: #{random(2000)}px #{random(2000)}px #FFF;
    $value: append($value, $shadow, comma);
  }

  @return $value;
}

$shadows-small: multiple-box-shadow(200);
$shadows-medium: multiple-box-shadow(80);
$shadows-big: multiple-box-shadow(30);

.stars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    position: absolute;
    top: 2000px;
    display: block;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    content: '';
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    position: absolute;
    top: 2000px;
    display: block;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    content: '';
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {;
    position: absolute;
    top: 2000px;
    display: block;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    content: '';
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px)
  }
  to {
    transform: translateY(-2000px)
  }
}
