.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 64rem;
}

.button {
  display: block;
  height: 56rem;
  padding: 0 40rem;
  border: 0;
  font-weight: 300;
  font-size: 18rem;
  line-height: 56rem;
  text-transform: uppercase;
  background: #000;
  cursor: pointer;

  &:any-link {
    color: #fff;
  }
}
