html {
  font-size: 1px;
}

@media (max-width: 568px) {

  html {
    font-size: 0.267vw;
  }
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #090A0F;
  background-image: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
button {
  font-family: 'Roboto', sans-serif;
}

#__next {
  min-height: 100vh;
}

.width-container {
  width: 100%;
  max-width: 1220rem;
  margin: 0 auto;
}
