.image {
  overflow: hidden;
  background-color: #050505;
  background-image: url('/images/spinner.svg');
  background-size: 48rem auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4rem;
}
